---
import BotExamples from "../components/bot-examples.astro";
import CTA from "../components/cta.astro";
import Deployment from "../components/deployment.astro";
import Features from "../components/features.astro";
import Hero from "../components/hero.astro";
import Nav from "../components/nav.astro";
import Plugins from "../components/plugins.astro";
import Layout from "../layouts/layout.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Features />
    <BotExamples />
    <Plugins />
    <Deployment />
    <CTA />
  </main>
</Layout>
